/* Write your CSS here */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd5e1;
  width: 80%;
  padding: 20px;
  margin-bottom: 8px;
}

.heading-header {
  font-family: Roboto;
  font-size: 30px;
  color: #475569;
}
