/* Write your CSS here */

.top-container {
  background-color: #475569;
  height: 30%;
  padding: 10px;
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.Layout-text {
  font-family: Roboto;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 15px;
}

.container-input {
  display: flex;
  margin-bottom: 10px;
}

.input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  align-self: center;
}

.label {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  align-self: center;
}
